*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 100%;
    height: 80px;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgba(14, 15, 41, 0.5);
    column-gap: 2rem;
    color: rgb(227, 238, 80);font-size: 1.5rem;
    font-weight: 600;
    color: gold;
    text-transform: uppercase;
 
  
}
a{
    text-decoration:none;
    color: white;
    margin-left: 10px;
   
}
ul{
    margin: auto;
    list-style: none;
    float: right;
    line-height: 80px;
    margin-right: 50px;

}
li{
    display: inline;   
}
.photo{
background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/lindsey-lamont-zOFWHSN3oTQ-unsplash.jpg");
height: 100vh;
width: 100%; 
background-position:center;
background-size: cover;  
}
 .gen {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 100px;
   
}

.gen .phrase h1{
   text-align: center;
    text-transform: capitalize;
    color: aliceblue;
    font-size: 70px;
    font-style: italic;
    
    
}
/*about us*/

.about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    height: 593px;
}

.about .container .box.txt{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-style: italic;
    

}
.about .container .txt h1 {
    color: #ff9900;
    font-size: 40px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-decoration: underline;


}

.about .container img{
    width: 735px;
    height: 593px;
}
.button { 
    text-transform: capitalize;
     text-align:center ;
    width: 30%;
    padding: 10px 20px;
    cursor: pointer;
    font-style:italic;
    font-weight: bold;
    background-color: #FF9800;
    border: none;
    transition: .5s;
    color: white;
}
.button:hover{
    letter-spacing: 1px;
}
.aboutus{
    background:  linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url("../img/terrrass.jpg");
    width: 100%;
    height: 735px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    gap: 50px;
    display:flex;
    justify-content: center;
    font-style: italic;
    text-align: center;
    text-decoration: solid;
  
}
.close{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #FF9800;
}
/*about us*/
.us h1{
color: #FF9800;   
    font-size: 80px;
    text-transform: capitalize;
    text-decoration: underline;
}
.us h1:hover{
    text-shadow: aliceblue,12px;


}
.imte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    height: 593px;
    display: none;
}
 
.abt.imte.abttext{
    
    width:100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
   text-transform: capitalize;
   
     
}
.abt .imte .abttext h1{
    text-transform: capitalize;
    color: #FF9800;
    font-size: 60px;
}
.immg img{
    width: 100%;
    height:100%;
    

}


/*reserver*/
.reservation{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.reservation .button{
    padding: 20px 0;
    font-size: 30px;
    border-radius: 15px;
}
.butt{

    text-transform: capitalize;
    text-align:center ;
   width: 30%;
   padding: 40px 60px;
   cursor: pointer;
   font-style:italic;
   font-weight: bold;
   background-color: #FF9800;
   border: none;
   transition: .5s;
   color: white;
   background-position: center;

}
/*lieu */
.page1 .home{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("../img/location.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
align-items: center;

}
.page1 .home h1{
    text-align: center;
    text-transform: capitalize;
    color:white;
    font-size: 60px;
    border:3px solid #FF9800;
    padding: 5px 10px;
    position: relative;
    background: rgba(255,255 ,255,.2 );
    z-index: 2;
}
.before_h1{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    background:transparent;
    width: 20%;
    height: 20%;
    border:30px solid #FF9800;
    z-index: 1;
}


.map{
    width: 100%;
    height: 100vh;
}     


.fab,.copy p{
    color: white   ;
    font-size: 20px;
    font-style: italic;
}
footer{
    height: 10vh;
    display: flex;
    justify-content:space-between ;
    padding:0  15px;
    align-items: center;
    background:  #262626;
}